html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .bg-index {
    background: url("/static/img/background.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
    text-align: center; /* Center-align text */
  }